@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.imagem-fundo{
    position: absolute;
    z-index: -1;
    display: none;
}

.container-left{
    width: 50%;
    height: 100vh;
}

.container-login{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.login{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.login h1{
    font-size: 3.125rem;
    font-weight: 500;
    color: #002E5B;
}

.login p{
    color: #B1B1B1;
    font-size: 0.9375rem;
}

.formulario-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.input-senha{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.2rem;
}

.caixasenha{
    position: relative;
    top: 0;
    right: 1.75rem;
}

.caixasenha .mostrar img,
.caixasenha .esconder img{
    width: 1.25rem;
    cursor: pointer;
}

.caixasenha .mostrar{
    display: none;
}

.input-email input,
.input-senha input{
    width: 21.875rem;
    height: 4rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 1.125rem;
    color: #949494;
    outline: none;
}

.input-email input::placeholder,
.input-senha input::placeholder{
    color: #B1B1B1;
}

.botoes{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.75rem;
}

.botoes .entrar,
.botoes .visitante{
    width: 10.6875rem;
    height: 4rem;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 500;
}

.botoes .entrar{
    background-image: linear-gradient(to right, #4A72FF 2.09%, #03FFA4 97.91%);
    color: #ffffff;
}

.botoes .visitante{
    border: 1px solid;
    cursor: pointer;
    outline: none;
    -webkit-transform: translate(0);
    transform: translate(0);
    border-image: linear-gradient(to right, #4A72FF, #03FFA4);
    background-image: linear-gradient(-45deg, #4A72FF, #03FFA4);
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    color: white;
}


.visitante .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4A72FF, #03FFA4);
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .visitante:after {
    content: "";
    border-radius: 8px;
    position: absolute;
    margin: 0.03rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #fff;
  }

.cadastrar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9357rem;
}

.cadastrar p{
    color: #B1B1B1;
}
.cadastrar span a{
    color: #4A72FF;
    cursor: pointer;
    text-decoration: none;
}

.cadastro{
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cadastro h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #002E5B;
}

.cadastro p{
    font-size: 0.9375;
    font-weight: 300;
    color: #b1b1b1;
}

.contato h1,
.dados-login h1{
    font-size: 1.5675;
    color: #002E5B;
    font-weight: 500;
}

.formulario-cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#cadaster{
    display: none;
}

.dados-login,
.contato{
    width: 56%;
}

.dados-cadastro,
.dados-contato{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.dados-cadastro p{
    font-size: 0.65rem;
    display: none;
}

.dados-cadastro input[type="email"],
.dados-contato .nome{
    width: 21.875rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 0.875rem;
    color: #949494;
    outline: none;
}

.dados-cadastro input[type="password"],
.dados-contato input[type="date"],
.dados-contato select{
    width: 10.5rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 0.875rem;
    color: #949494;
    outline: none;
}

.dados-contato input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    filter: invert(0.8) brightness(50%) sepia(100%) saturate() hue-rotate(240deg);
}

.dados-contato .cep,
.dados-contato .endereco{
    width: 8rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 0.875rem;
    color: #949494;
    outline: none;
}

.dados-contato .numero{
    width: 4rem;
    height: 2.8375rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-size: 0.875rem;
    color: #949494;
    outline: none;
}

.cadastrar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cadastrar input[type="submit"]{
    width: 21.875rem;
    height: 3.5rem;
    border-radius: 8px;
    border: none;
    padding: 15px;
    font-size: 1.125rem;
    outline: none;
    background-image: linear-gradient(to right, #4A72FF 2.09%, #03FFA4 97.91%);
    color: #ffffff;
    cursor: pointer;
}

#cadaster{
    display: none;
}

.container-right{
    width: 50%;
    height: 100vh;
    background-image: url(img/maranguape-img-login1.png);
    background-size: cover;
}

/* ---- AQUI COMEÇA A RESPONSIVIDADE DO SITE ---- */

@media screen and (min-width: 1280px){
    .cadastro,
    .dados-login,
    .contato{
        margin-left: 6rem;
    }

    .dados-cadastro{
        width: 70%;
    }

    .dados-contato{
        width: 70%;
    }

    .dados-cadastro input[type="email"],
    .dados-cadastro input[type="password"],
    .dados-contato input[type="text"],
    .dados-contato input[type="date"],
    .dados-contato select,
    .dados-contato input[type="number"],
    .dados-contato input[type="text"],
    .dados-contato input[type="number"]{
        font-size: 0.75rem;
    }
}

@media screen and (width: 1180px) and (orientation: landscape){
    .login{
        width: 70%;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-right: 4rem;
    }
    
}

@media screen and (min-width: 1025px){
.dados-cadastro input[type="password"],
.dados-contato input[type="date"],
.dados-contato select{
    width: 9.4rem;
    height: 2.75rem;
}
    .cadastro,
    .dados-login,
    .contato{
        margin-right: 4rem;
    }
    
.dados-contato .cep,
.dados-contato .endereco{
    width: 6.8rem;
}
}

@media screen and (width: 1024px) and (orientation: landscape){
    .login{
        width: 80%;
    }
    
    
    .cadastro,
    .dados-login,
    .contato{
        margin-right: 4.5rem;
    }

    .cadastro h1{
        font-size: 2.5rem;
    }

    .dados-login h1,
    .contato h1{
        font-size: 1.5rem;
    }

    .cadastro p{
        font-size: 0.85rem;
    }
    
.dados-cadastro input[type="password"],
.dados-contato input[type="date"],
.dados-contato select{
    width: 9.5rem;
    height: 2.75rem;
}

    
.dados-contato .numero{
    width: 4rem;
    height: 2.75rem;
}

    
.dados-contato .cep,
.dados-contato .endereco{
    width: 7rem;
    height: 2.75rem;
}

    .container-cadastrar{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }
}


.dados-cadastro input[type="email"],
.dados-contato .nome{
    width: 20rem;
    height: 2.75rem;
}


.cadastrar input[type="submit"]{
    width: 20rem;
    height: 3.5rem;
}

@media screen and (max-width: 980px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 9rem;
    }

    .dados-contato input[type="date"]{
        width: 9.5rem;
    }

    .dados-contato select{
        width: 8.5rem;
    }

    .dados-contato .cep{
        width: 5rem;
    }

    .dados-contato .numero{
        width: 4rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-right: 4rem;
    }

    .dados-login h1,
    .contato h1{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 8rem;
    }

    .dados-contato input[type="date"]{
        width: 8.75rem;
    }

    .dados-contato select{
        width: 8.5rem;
    }

    .dados-contato .cep{
        width: 5rem;
    }

    .cadastro h1{
        font-size: 1.25rem;
    }

    .formulario-cadastro{
        display: flex;
        gap: 0.75rem;
    }

    .dados-contato .numero{
        width: 3rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-right: 4rem;
    }

    .dados-login h1,
    .contato h1{
        font-size: 1rem;
    }
}

@media screen and (max-width: 915px) and (orientation: landscape){
    .container-left{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-login{
        height: 100vh;
        border-radius: 16px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    .input-email input,
    .input-senha input{
        height: 3.2rem;
    }

    .botoes .visitante,
    .botoes .entrar{
        height: 3rem;
    }

    .login{
        width: 50%;
    }

    .container-right{
        display: none;
    }

    .container-cadastrar{
        display: flex;
        gap: 0.3rem;
    }

    .dados-cadastro input[type="password"]{
        width: 17.75rem;
        height: 2rem;
    }

    .dados-contato input[type="date"]{
        height: 2rem;
    }
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 8rem;
        font-size: 0.8rem;
    }
    

    .dados-cadastro input[type="email"]{
        width: 36rem;
        height: 2rem;
        font-size: 0.8rem;
    }
.dados-contato .nome{
    width: 28rem;
    height: 2rem;
    font-size: 0.8rem;
}

    .dados-login h1,
    .contato h1{
        font-size: 1rem;
    }

    .cadastro h1{
        font-size: 1.25rem;
    }

    .cadastro{
        display: flex;
        gap: 0;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-right: 9rem;
    }


.dados-contato .numero{
    height: 2rem;
    font-size: 0.8rem;
}
.dados-contato .cep,
.dados-contato .endereco{
    height: 2rem;
    font-size: 0.8rem;
}

.dados-contato .cep{
    width: 7rem;
}

.dados-contato .endereco{
    width: 16rem;
}

.cadastrar input[type="submit"]{
    width: 26rem;
    height: 3rem;
}
.dados-cadastro,
.dados-contato,
.cadastrar{
    display: flex;
    gap: 0.5rem;
}

.imagem-fundo{
    display: block;
}

.imagem-fundo img{
    width: 100%;
    margin-left: 2rem;
}

.imagem-fundo img{
    margin-left: 3.5rem;
}

.container-login{
    margin-top: 4rem;
}
}

@media screen and (width: 915px) and (orientation: landscape){
    .imagem-fundo img{
        margin-left: 3.8rem;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape){
    .dados-cadastro,
    .dados-contato,
    .cadastrar{
        display: flex;
        gap: 0.5rem;
    }
    
.container-cadastrar{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.cadastro h1{
    font-size: 1.5rem;
}

.cadastro p{
    font-size: 0.75rem;
}

.dados-login h1,
.contato h1{
    font-size: 1rem;
}
    .cadastro,
    .dados-login,
    .contato{
        margin-right: 10rem;
    }
    .dados-cadastro input[type="password"]{
        width: 17.5rem;
        height: 2rem;
        font-size: 0.6rem;
    }

    
    .dados-cadastro input[type="email"]{
        width: 40rem;
        height: 2rem;
        font-size: 0.6rem;
    }

    
.dados-contato .nome{
    height: 2rem;
}

    
    .dados-contato select{
        width: 7rem;
        height: 2.75rem;
        font-size: 0.6rem;
    }
    .dados-contato input[type="date"]{
        width: 8.5rem;
        height: 2rem;
        font-size: 0.6rem;
    }

.dados-contato .cep,
.dados-contato .endereco,
.dados-contato .numero{
    height: 2rem;
}



.cadastrar input[type="submit"]{
    width: 34rem;
    height: 3rem;
}

.dados-contato .endereco{
    width: 12.5rem;
}

.cadastrar input[type="submit"]{
    width: 35rem;
    height: 2.75rem;
}

.cadastrar p{
    font-size: 0.75rem;
}
}


@media screen and (max-width: 896px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 16.75rem;
        height: 2rem;
        font-size: 0.7rem;
    }
    .dados-contato input[type="date"]{
        width: 8rem;
        height: 2rem;
        font-size: 0.7rem;
    }
    .dados-contato .nome{
        width: 25rem;
    }

    .dados-contato .cep,
    .dados-contato .numero{
        font-size: 0.7rem;
    }

    .dados-contato .endereco{
        width: 14rem;
        font-size: 0.7rem;
    }
    .cadastrar input[type="submit"]{
        width: 33.5rem;
    }
}

@media screen and (max-width: 855px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 16.5rem;
    }

    .container-login{
        margin-left: 0rem;
    }

    .imagem-fundo img{
        margin-left: 2.5rem;
    }
}


@media screen and (max-width: 838px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 16.25rem;
    }
    
.dados-contato .nome{
    width: 24rem;
}
.dados-contato input[type="date"]{
    width: 8rem;
}

.dados-contato .cep{
    width: 5.5rem;
}
.cadastrar input[type="submit"]{
    width: 32rem;
}
}

@media screen and (max-width: 825px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 15.5rem;
    }
    
.dados-contato .nome{
    width: 24rem;
}
.dados-contato input[type="date"]{
    width: 7rem;
}

.dados-contato .cep{
    width: 5.5rem;
}
.cadastrar input[type="submit"]{
    width: 32rem;
}
}
@media screen and (max-width: 800px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 14.5rem;
    }
    
.dados-contato .nome{
    width: 22rem;
}
.dados-contato input[type="date"]{
    width: 7rem;
}


.dados-contato select{
    width: 6rem;
}

.dados-contato .cep{
    width: 5.5rem;
}
.cadastrar input[type="submit"]{
    width: 32rem;
}
}

@media screen and (max-width: 775px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 14rem;
    }
    
.dados-contato .nome{
    width: 22rem;
}
.dados-contato input[type="date"]{
    width: 6.5rem;
}


.dados-contato select{
    width: 5.5rem;
}

.dados-contato .cep{
    width: 5.5rem;
}
.cadastrar input[type="submit"]{
    width: 32rem;
}

.imagem-fundo img{
    margin-left: 0.1rem;
}

.container-login{
    margin-left: 2rem;
}
}


@media screen and (max-width: 912px) and (orientation: portrait){
    .container-left{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagem-fundo{
        display: block;
    }

    .imagem-fundo img{
        width: 100%;
        height: 100vh;
        margin-top: -40rem;
        position: fixed;
    }

    .container-login{
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        height: 70vh;
        border-radius: 16px;
    }

    .container-right{
        display: none;
    }

    .container-cadastrar{
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.2rem;
    }

    
.dados-cadastro input[type="email"],
.dados-contato .nome{
    width: 26rem;
    height: 2.75rem;
}

.dados-cadastro input[type="password"]{
    width: 12.5rem;
}


.cadastrar input[type="submit"]{
    width: 26rem;
}

.dados-contato input[type="date"],
.dados-contato select{
    width: 12.5rem;
    height: 2.9rem;
}

    .dados-contato .cep{
        width: 8rem;
    }

    .dados-contato .endereco{
        width: 12rem;
    }
    
    .cadastro,
    .dados-login,
    .contato{
        margin-right: 3.25rem;
    }
}


@media screen and (width: 912px) and (orientation: portrait){
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 9.6rem;
    }

    .dados-contato .cep{
        width: 5rem;
    }

    .dados-contato .endereco{
        width: 20rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-left: 4rem;
    }

    .imagem-fundo img{
        height: 70vh;
        margin-top: -50rem;
    }
}

@media screen and (max-width: 768px){
    .dados-cadastro input[type="password"]{
        width: 12.5rem;
    }
}

@media screen and (width: 820px) and (orientation: portrait){
    .imagem-fundo img{
        width: 100%;
        height: 60vh;
    }
}

@media screen and (width: 768px) and (orientation: portrait){
    .imagem-fundo img{
        width: 100%;
        height: 80vh;
    }
}

@media screen and (width: 768px) and (orientation: landscape){
    .imagem-fundo img{
        width: 100%;
        margin-right: -5rem;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape){
    .dados-cadastro,
    .dados-contato,
    .cadastrar{
        display: flex;
        gap: 0.5rem;
    }
    .cadastro,
    .dados-login,
    .contato{
        margin-left: 3rem;
    }
    .cadastro h1{
        font-size: 0.9rem;
    }

    .cadastro p{
        font-size: 0.55rem;
    }

    .contato h1,
    .dados-login h1{
        font-size: 0.7rem;
    }
.dados-cadastro input[type="email"]{
    width: 28rem;
    height: 2rem;
    font-size: 0.55rem;
}
.dados-contato .nome{
    width: 20rem;
    height: 2rem;
    font-size: 0.55rem;
}
.dados-cadastro input[type="password"]{
    width: 13.5rem;
    height: 2rem;
    font-size: 0.55rem;
}

.dados-contato .cep{
    width: 6rem;
}

.dados-contato .endereco{
    width: 8.75rem;
}

.dados-contato .cep,
.dados-contato .endereco,
.dados-contato .numero,
.dados-contato input[type="date"]{
    height: 2rem;
    font-size: 0.55rem;
}

.cadastrar p{
    font-size: 0.55rem;
}

.dados-contato select{
    height: 2.5rem;
    font-size: 0.55rem;
}
.cadastrar input[type="submit"]{
    width: 27.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
}
}

@media screen and (max-width: 680px) and (orientation: landscape){
    .login{
        margin-right: 6rem;
    }
    .dados-cadastro,
    .dados-contato,
    .cadastrar,
    .container-cadastrar{
        display: flex;
        gap: 0.25rem;
    }
    .cadastro,
    .dados-login,
    .contato{
        margin-left: 3rem;
    }
    .cadastro h1{
        font-size: 0.9rem;
    }

    .cadastro p{
        font-size: 0.55rem;
    }

    .contato h1,
    .dados-login h1{
        font-size: 0.7rem;
    }
.dados-cadastro input[type="email"]{
    width: 28rem;
    height: 1.8rem;
    font-size: 0.55rem;
}
.dados-contato .nome{
    width: 19rem;
    height: 1.8rem;
    font-size: 0.55rem;
}
.dados-cadastro input[type="password"]{
    width: 13rem;
    height: 1.8rem;
    font-size: 0.55rem;
}

.dados-contato .cep{
    width: 4rem;
}

.dados-contato .endereco{
    width: 10.25rem;
}

.dados-contato input[type="date"]{
    width: 6.5rem;
}

.dados-contato .cep,
.dados-contato .endereco,
.dados-contato .numero,
.dados-contato input[type="date"]{
    height: 1.8rem;
    font-size: 0.55rem;
}

.cadastrar p{
    font-size: 0.55rem;
}

.dados-contato select{
    height: 2.5rem;
    font-size: 0.55rem;
}
.cadastrar input[type="submit"]{
    width: 26rem;
    height: 2.25rem;
    font-size: 0.75rem;
}
}

@media screen and (max-width: 658px) and (orientation: landscape){
    .cadastrar{
        display: flex;
        gap: 0.25rem;
        line-height: 0.25rem;
    }

    .container-login{
        margin-right: 2rem;
    }

    .formulario-cadastro{
        display: flex;
        gap: 0.25rem;
    }


    .dados-cadastro input[type="password"]{
        width: 12.75rem;
    }
}


@media screen and (max-width: 643px) and (orientation: landscape){
    .dados-cadastro input[type="password"]{
        width: 12rem;
    }

    .dados-contato .nome{
        width: 17rem;
    }

    .dados-cadastro,
    .dados-login{
        display: flex;
        gap: 1rem;
    }

    .formulario-cadastro{
        display: flex;
        gap: 1rem;
    }

    .cadastro h1{
        font-size: 2rem;
    }

    .cadastro p{
        font-size: 0.8rem;
    }

    .dados-login h1,
    .contato h1{
        font-size: 1.75rem;
    }

    .cadastrar input[type="submit"]{
        width: 25rem;
    }
}

@media screen and (max-width: 650px) and (orientation: portrait){
    
    .dados-cadastro input[type="password"]{
        width: 12.25rem;
    }

    .dados-contato .nome{
        width: 15rem;
    }
    
    .dados-contato input[type="date"]{
        width: 9rem;
    }
    .dados-contato select{
        width: 10rem;
    }

    .dados-contato .cep{
        width: 10rem;
    }

    .dados-contato .endereco{
        width: 15rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-right: 8rem;
    }
}


@media screen and (max-width: 625px) and (orientation: portrait){
    
    .dados-cadastro input[type="password"]{
        width: 11rem;
    }
    .dados-contato input[type="date"]{
        width: 7rem;
    }

    .cadastrar input[type="submit"]{
        width: 22rem;
    }

    .imagem-fundo img{
        height: 80vh;
    }
}

@media screen and (max-width: 550px) and (orientation: portrait){
    .input-email input,
    .input-senha input{
        width: 19rem;
    }

    .botoes .entrar,
    .botoes .visitante{
        width: 9.1rem;
    }

    .login{
        margin-right: 4rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-right: 3.75rem;
    }

    .dados-cadastro input[type="email"]{
        width: 19.25rem;
    }

    .dados-contato .nome{
        width: 19.25rem;
    }
    
    .dados-cadastro input[type="password"]{
        width: 9rem;
    }

    
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 9rem;
    }

    
.dados-contato .cep,
.dados-contato .endereco{
    width: 6.5rem;
}

.cadastro h1{
    font-size: 2.5rem;
}

.dados-login h1,
.contato h1{
    font-size: 1.5rem;
}

.cadastrar input[type="submit"]{
    width: 19rem;
}


.container-cadastrar{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}
}

@media screen and (max-width: 515px) and (orientation: portrait){
    .dados-contato .nome{
        width: 20rem;
    }
}

@media screen and (max-width: 470px) and (orientation: landscape){
    .container-login{
        width: 90%;
        height: 100vh;
    }
}

@media screen and (max-width: 425px) and (orientation: portrait){
    .container-login{
        width: 90%;
    }

    .input-email input,
    .input-senha input{
        width: 17.5rem;
    }

    .botoes .entrar,
    .botoes .visitante{
        width: 8.5rem;
    }

    .login{
        margin-right: 4rem;
    }

    .login p,
    .cadastrar p{
        font-size: 0.875rem;
    }

    
    .dados-cadastro input[type="password"]{
        width: 8.75rem;
    }
    
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 8.75rem;
    }

    
.dados-contato .cep,
.dados-contato .endereco{
    width: 6.2rem;
}


.cadastrar input[type="submit"]{
    width: 18.5rem;
}
}

@media screen and (max-width: 410px) and (orientation: portrait){
    .dados-cadastro input[type="password"]{
        width: 7.25rem;
    }
    .dados-contato .cep{
        width: 5rem;
    }
    
    .dados-contato input[type="date"]{
        width: 9rem;
    }
    .dados-contato select{
        width: 7.3rem;
    }
}

@media screen and (max-width: 400px) and (orientation: portrait){
    .input-email input,
    .input-senha input{
        width: 15.5rem;
    }

    .botoes .entrar,
    .botoes .visitante{
        width: 7.5rem;
    }

    .login{
        margin-right: 3rem;
    }

    .login p,
    .cadastrar p{
        font-size: 0.785rem;
    }

    
    .dados-cadastro input[type="password"],
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 8.25rem;
    }

    
.dados-contato .cep,
.dados-contato .endereco{
    width: 5.75rem;
}

.dados-contato .nome{
    width: 100rem;
}


.cadastrar input[type="submit"]{
    width: 17.75rem;
}
}

@media screen and (max-height: 425px) and (max-width: 500px){
    .dados-cadastro input[type="password"]{
        width: 8rem;
        height: 2rem;
    }

    .cadastro h1{
        font-size: 1rem;
    }

    .dados-login h1,
    .contato h1{
        font-size: 0.75rem;
    }

    
.cadastrar input[type="submit"]{
    width: 18rem;
}

    .imagem-fundo{
        display: none;
    }
}

@media screen and (max-width: 376px) and (orientation: portrait){
    .dados-cadastro input[type="password"],
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 7.8rem;
        font-size: 0.7580rem;
    }

    .dados-login h1{
        font-size: 1.4rem;
    }

    .contato h1{
        font-size: 1.4rem;
    }

    
.dados-cadastro input[type="email"],
.dados-contato .nome,
.dados-contato .cep,
.dados-contato .endereco,
.dados-contato .numero{
    font-size: 0.7580rem;
}
    
.dados-contato .cep,
.dados-contato .endereco{
    width: 5.25rem;
}

.cadastrar input[type="submit"]{
    width: 17rem;
}
}


@media screen and (max-width: 360px) and (orientation: portrait){

    .dados-cadastro input[type="password"],
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 7.5rem;
        font-size: 0.75rem;
    }

    .dados-cadastro input[type="email"],
    .dados-contato .nome,
    .dados-contato .cep,
    .dados-contato .endereco,
    .dados-contato .numero{
        font-size: 0.75rem;
    }
    
.dados-contato .cep,
.dados-contato .endereco{
    width: 5rem;
}

.cadastrar input[type="submit"]{
    width: 16rem;
}
}

@media screen and (max-height: 379px) and (max-width: 900px){
    .cadastro,
    .dados-login,
    .contato{
        display: none;
    }
    .cadastrar{
        display: none;
    }
}

@media screen and (max-width: 340px) and (orientation: portrait){

    .input-email input,
    .input-senha input{
        width: 13.5rem;
    }

    .botoes .entrar,
    .botoes .visitante{
        width: 6.5rem;
    }

    .login{
        margin-right: 3rem;
    }

    .login p,
    .cadastrar p{
        font-size: 0.785rem;
    }
    .dados-cadastro input[type="password"],
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 6.5rem;
        font-size: 0.7rem;
    }
    
.dados-contato .cep,
.dados-contato .endereco{
    width: 4.25rem;
}

.dados-contato .numero{
    width: 3.5rem;
}

    .cadastro h1{
        font-size: 1.5rem;
    }

    .contato h1,
    .dados-login h1{
        font-size: 1rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-left: 1rem;
    }
    .cadastrar input[type="submit"]{
        width: 14rem;
    }
}

@media screen and (max-width: 280px) and (orientation: portrait){
    .dados-cadastro input[type="password"],
    .dados-contato input[type="date"],
    .dados-contato select{
        width: 5.75rem;
        font-size: 0.7rem;
    }
    
.dados-contato .cep,
.dados-contato .endereco{
    width: 3.5rem;
}

    .cadastro h1{
        font-size: 1.3rem;
    }

    .cadastro p{
        font-size: 0.75rem;
    }

    .contato h1,
    .dados-login h1{
        font-size: 0.8rem;
    }

    .cadastro,
    .dados-login,
    .contato{
        margin-left: 1.25rem;
    }
    .cadastrar input[type="submit"]{
        width: 13rem;
        height: 2.75rem;
    }
}

@media screen and (max-height: 168px) and (max-width: 896px){

    .dados-cadastro input[type="email"],
    .dados-cadastro input[type="password"],
    .dados-contato .nome,
    .dados-contato input[type="date"],
    .dados-contato select,
    .dados-contato .cep,
    .dados-contato .endereco,
    .dados-contato .numero{
        font-size: 0.5rem;
    }
    
    .dados-cadastro input[type="email"]{
        width: 13rem;
    }

    .dados-cadastro input[type="password"]{
        width: 7rem;
    }

    .dados-contato .nome{
        width: 9rem;
    }

    .dados-contato input[type="date"]{
        width: 2.5rem;
    }

    .dados-contato .cep{
        width: 5rem;
    }

    .dados-contato select{
        width: 5.5rem;
    }

    .cadastrar{
        display: none;
    }
}
